<div class="topright"><button (click)="logout()">Logout</button></div>
<p id= "n">
 </p>

 <div style="text-align:center">
  <h3><b> Passengers who has travelled with infected person</b></h3>
 <table>
    <tr>
      <th>Email id  </th>
    <tr *ngFor="let pas of inf_passengers[0]">
      <td>{{pas}}</td>
    </tr>
  </table>
  <!-- <button (click)="Details()">Details</button> -->

  <br>
  <div class="right">
    <h5>Recored temperature</h5>
    <p>32.5</p></div>
  <img src="assets/img/covid.jpg" alt="Hse img"  style="width:35%"> 
  <hr>
  <div class="btn" >
  <button (click)="aprove()">Aprove</button>
</div>
</div>
