<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="mySidenav" class="sidenav">
    <a (click)=" AddClick()">Add Employe</a> <br>
    <hr><br>
    <a  (click)=" SuspendClick()">Suspend Employe</a><br><br><br>
    <hr><br>
    <a href="#">Remove Employe</a> <br> <br><br>   <hr>
    <a (click)="logout()">Logout</a>


  </div>
  <div id="main">
    <h1 style="text-align:center">**Welcome To the admin pannel of Iscanner**</h1>
    <img src="assets/img/admin.jpg" alt="Admin img"  style="width:90%"> 
<P style="text-align:center"><b>Break the chain</b></P>
</div>

     
  <div class="form-popup" id="add_employe_form">
    <form action="" class="form-container">
      <h1>Add New Employe</h1>
      <a href="javascript:void(0)"class="closebtn"  (click)="CloseClick()">&times;</a>
      <label for="First Name"><b>First Name</b></label>
      <input type="text" placeholder="First Name" [(ngModel)]="fname_a"[ngModelOptions]="{standalone:true}" required>
      <label for="Last Name"><b>Last Name</b></label>
      <input type="text" placeholder="Last Name" [(ngModel)]="lname_a"[ngModelOptions]="{standalone:true}" required>
      <label for="Email "><b>Email</b></label><br><br>
      <input type="email" placeholder="Email" [(ngModel)]="email_a"[ngModelOptions]="{standalone:true}" required>
<br>
<p><b>Staff Type</b></p>
      <select  [(ngModel)]="type_a" [ngModelOptions]="{standalone:true}"matNativeControl required>
        <option value="hse">HSE Staff</option>
        <option value="airport"> Airport Authority Staff</option>  
      </select>    <br>
      <label for="phone "><b>Phone</b></label><br>
      <input type="tel" placeholder="Phone Number" [(ngModel)]="phone_a"[ngModelOptions]="{standalone:true}" required>
      <br><label for="address"><b>Address</b></label>
      <input type="text" placeholder="Address" [(ngModel)]="address_a"[ngModelOptions]="{standalone:true}" required>
      <label for="city"><b>City</b></label>
      <input type="text" placeholder="City" [(ngModel)]="city_a"[ngModelOptions]="{standalone:true}" required>
      <label for="county"><b>County</b></label>
      <input type="text" placeholder="County" [(ngModel)]="county_a"[ngModelOptions]="{standalone:true}" required>
      <label for="zipcode"><b>Zipcode</b></label>
      <input type="text" placeholder="Zipcode" [(ngModel)]="zipcode_a"[ngModelOptions]="{standalone:true}" required>
      <label for="country"><b>Country</b></label>
      <input type="text" placeholder="Country" [(ngModel)]="country_a"[ngModelOptions]="{standalone:true}" required>
      <p><b>Employe status</b></p>
      <select  [(ngModel)]="employestatus_a" [ngModelOptions]="{standalone:true}"matNativeControl required>
        <option value="active">Active</option>
        <option value="suspend"> Suspend</option>  
        <option value="remove"> Remove</option>  
      </select>    <br><br>
      <button type="submit" class="btn"(click)="LoginClick()">Login</button> 
      <button type="button" class="btn cancel" (click)="CloseClick()">Close</button> 
    </form>

</div>
<div class="form-popup" id="suspend_employe_form">
  <form action="" class="form-container">
    <h1>Suspend An Employe</h1>
    <a href="javascript:void(0)"class="closebtn"  (click)="CloseClick()">&times;</a>
   

      
    <table id="myTable"style="width:100%">
        <tr >
        
          <td > {{fn}} {{sn}}</td>
          <td>  {{id}}</td>
        </tr>
       

      </table> 
      <select>
      <input placeholder= "{{id}} "[(ngModel)]="empstatus_a"[ngModelOptions]="{standalone:true}"  required>
        <option value="active">{{id}}</option>
        <option value="suspend"> {{fn}}</option>  
        <option value="remove"> Remove</option>  
      </select> <br>
    

</form>
</div>
