<h2 style="text-align:center"><b>Ireland's Covid Figure Today</b></h2>
<div class="split left">
  <div class="centered">
    <h2><b>New Covid Cases Today</b></h2>
    <p><b>{{a[3]}}</b></p>
  </div>
</div>
<div class="split right">
  <div class="centered">
    <h2><b>New Deaths reported Today</b></h2>
    <p><b>{{a[5]}}</b></p>
    <!-- <button (click)="c()">click</button> -->

  </div>
</div>
<!-- <div style="display: block;">
    <canvas baseChart width="400" height="400"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
    </canvas>
  </div> -->