body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }  
  input[type=submit]:hover {
    background-color: #062e08;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


   #traveldetails {
    width: 100%;
    padding: 50px 0;
    text-align: left;
    background-color: lightblue;
    margin-top: 20px;
    display:block;
  }

  #symptoms {
    width: 100%;
    padding: 50px 0;
    text-align: left;
    background-color: rgb(225, 173, 230);
    margin-top: 20px;
    display:block;
  }

  #questions {
    width: 100%;
    padding: 50px 0;
    text-align: left;
    background-color: rgb(126, 200, 212);
    margin-top: 20px;
    display:none;
  }
  #bmu_no {
    width: 100%;
    padding: 50px 0;
    text-align: left;
    background-color: green;
    margin-top: 20px;
    display:none;
  }
  #bmu_yes {
    width: 100%;
    padding: 50px 0;
    text-align: left;
    background-color: red;
    margin-top: 20px;
    display:none;
  }

  /*For log out*/ 
.topright 
{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  top:20 px;
  opacity: 0.8;
}