<h1>Covid-19 Passenger locator form</h1>
<p><b>Passengers arriving to Ireland from overseas are required to complete this form,
  including Irish citizens</b></p>
  <p>If you are under any of these category please check the box</p>
  <p>>	 Passengers arriving from Northern Ireland.<br>
    >	 Passengers leaving the State from their port or airport of arrival without otherwise
    exiting the port or airport.<br>
    >	 Holders of a Certificate for International Transport Workers, or drivers of a heavy
    goods vehicle, who are in the State in the course of performing their duties.<br>
    >	 Aircraft crew, including the pilot, who are in the State in the course of performing
    their duties.<br>
    >	 Ship crew, including the maritime master, who are in the State in the course of
    performing their duties.<br>
    >	 Foreign diplomats<br></p>
    <!-- need to change the operation after discussion with sir -->
    <input type="checkbox" (click)="travel_details()"[(ngModel)]="exception_q"[ngModelOptions]="{standalone:true}" required>
    <label for="exception">Yes i'm in one or more of the above list</label><br>
    <h4>Instructions</h4>
    <p>•	 One form should be completed for each passenger aged 16 or older. Details of children
      under the age of 16 should be included on a form completed by an adult accompanying
      them.<br>
      •	 If you will be remaining in the State overnight, please complete sections 1 and 2,
      provide contact details in section 3.<br>
      •	 If you are leaving the State today by aircraft or ferry or travelling to Northern Ireland please complete sections 1 and 2, tick the box in section 3 and sign and date section 4.<br>
      •	 If any of the information you provide on this form changes in the next 14 days, you are
      required to send an email with your complete and updated information to the following
      email address: passengerlocatorform@plf.ie <br>
      •	 You may be contacted during the 14 days following your arrival in the State to verify the
      information you have given in the form.<br>
      </p>
      <h4>Offences and penalties</h4>
      <p>The following offences are punishable by a fine not exceeding €2,500 or imprisonment for a
        term not exceeding 6 months, or both.<br>
        •	 It is an offence not to complete this form in the manner specified.<br>
        •	 It is an offence to provide false or misleading information in this form.<br>
        •	 It is an offence not to provide an update if any of the information in section 3 of the
        form changes in the next 14 days or period of stay, whichever is the shorter.<br>
        •	 It is an offence to fail to give an officer who requests it information required to verify
        the details on this form.<br>
        •	 In addition to these offences, a member of An Garda Síochána may direct a person who
        is not complying with the requirements in respect of this form to so comply. Failing to
        comply with that direction is an offence for which you may be arrested.<br>
        •	 A member of An Garda Síochána who suspects that an offence has been committed
        may demand the name and address of the person who is suspected of committing the
        offence. Failure to comply with this demand or the production of a false name and/or
        address is an offence for which a person may be arrested.<br></p>
        <h4>Data Protection</h4>
        <p>•	 The Minister for Health and the Health Service Executive are the data controllers for
        the information provided on this form.<br>
        •	 The information provided on this form, and any updates that you send using the
        passengerlocatorform@plf.ie email address, may be used for the following purposes:<br>
        >	 To contact you to verify this information on this form in the 14 days following your
        arrival.<br>
        >	 This form may also be used for the purposes of contact tracing in relation to
        confirmed or suspected cases of Covid-19.<br>
        •	 Personal data contained in this form may be collected and processed by the following:
        >	 Border Management Unit of the Department of Justice and Equality.<br>
        >	 Garda Immigration Officers.<br>
        >	 Health Service Executive.<br>
        •	 This form and any copies of it, and any updates that you send using the
        passengerlocatorform@plf.ie email address, will be destroyed 28 days after your
        arrival, unless the form is required for law enforcement purposes.<br>
        •	 If you wish to exercise your rights under the General Data Protection Regulation,
        you should contact the Data Protection Officer in the Health Service Executive
        Email: DPO@hse.ie</p><br>
<h3>1.Personal details</h3>

<div class="container">
  <form action="">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">
    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" placeholder="Your E-mail">
    <label for="Phone Number">Phone</label>
    <input type="tel" id="phone" name="Phone" placeholder="Your Phone Number">  
    <label for="Address">Address</label>
    <input type="text" id="address" name="Address" placeholder="Your address">
    <label for="City">City</label>
    <input type="text" id="city" name="City" placeholder="Your city">
    <label for="County">County</label>
    <input type="text" id="county" name="County" placeholder="Your county">
    <label for="country">Country</label>
    <input type="text" id="country" name="country" placeholder="Your country">
    <label for="Zip">Zip-code</label>
    <input type="text" id="zip code" name="City" placeholder="Your zipcode">
    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    <input type="submit" value="Submit">
  </form>






<h1>Travel details</h1>

<p>Click the button below to enter your travel details:</p>

<button (click)="travel_details()">Travel details</button>

<div id="traveldetails">
  <form action="">
    <label for="origin">Origin  </label>
    <input type="text" id="origin" name="origin" placeholder="From where you start the journey?">
    <label for="Departure airport">Departure airport </label>
    <input type="text" id="departureairport" name="departureairport" placeholder="Name of the airport you started the journey?">
    <label for="text">Destination </label>
    <input type="destination" id="destination" name="destination" placeholder="Name of the airpot you are travelling to">
    <label for="ticket number">Ticket number</label>
    <input type="text" id="tickettnumber" name="tickettnumber" placeholder="Your ticket number"> 
    <label for="Flight Number">Flight Number</label>
    <input type="text" id="flightnumber" name="flightnumber" placeholder="The flight number in which you are travelling">  
    <label for="seat number">Seat number</label>
    <input type="text" id="seatnumber" name="seatnumber" placeholder="Your seat number"> 

  </form>
</div>


<h1>Do you have any of these symptoms?</h1>

<p>Click the button below and record your physical condiction''''''''''':</p>

<button (click)="symptoms()">Symptoms</button>

<div id="symptoms">
  <form action="">
   <p>Please check tick if you have any</p>
      <input type="checkbox" id="symp1" name="symp1" value="symp1">
      <label for="symp1">feaver</label><br>
      <input type="checkbox" id="symp2" name="symp2" value="symp2">
      <label for="symp2">Cough</label><br>
      <input type="checkbox" id="symp3" name="symp3" value="symp3">
      <label for="symp3">Runny nose</label><br>
      <input type="checkbox" id="symp4" name="symp4" value="symp4">
      <label for="symp4">Sore throat</label><br>
      <input type="checkbox" id="symp5" name="symp5" value="symp5">
      <label for="symp5">Shortness of breath</label><br>
      <input type="checkbox" id="symp6" name="symp6" value="symp6">
      <label for="symp6">Headache</label><br>
      <input type="checkbox" id="symp7" name="symp7" value="symp7">
      <label for="symp7">Loss of taste/smell</label><br>
      <input type="checkbox" id="symp8" name="symp8" value="symp8">
      <label for="symp8">Fatigue</label><br>
      <input type="checkbox" id="symp9" name="symp9" value="symp9">
      <label for="symp9">Muscle pain</label><br>
      <input type="checkbox" id="symp10" name="symp10" value="symp10">
      <label for="symp10">Joint pain</label><br>
      <input type="checkbox" id="symp11" name="symp11" value="symp11">
      <label for="symp11">Diarrhoea</label><br>
      <input type="checkbox" id="symp12" name="symp12" value="symp12">
      <label for="symp12">Vomiting</label><br>
      <input type="checkbox" id="symp13" name="symp13" value="symp13">
      <label for="symp13">Chest pain</label><br>
      <input type="submit" value="Submit">
  </form>
</div>

<h1>More questions</h1>

<p>Click the button below and answer the questions:</p>

<button (click)="questions()">Additional questions</button>

<div id="questions">
  <form action="">
    <p>have you been in contact with any Covid Positive patients in last 14 days?</p>
   <label for="contact">Yes</label>
   <input type="radio" id="positive_yes" name="positive_yes" value = "Yes"> 
   <label for="contact">No</label>
   <input type="radio" id="positive_no" name="positive_no" value="No">
 </form>
</div>

<button (click)="test()">click me</button>
<form>
<label for="User name"><b>User Name</b></label>
<input type="text" placeholder="User Name" [(ngModel)]="uname_r"[ngModelOptions]="{standalone:true}" required>
<label for="Password"><b>Password</b></label>
<input type="password" placeholder="Password" [(ngModel)]="psw_r" [ngModelOptions]="{standalone:true}" required>
</form>



<p><b>Note:</b> Be responsible give correct details@@@@@@@###.....</p>


